:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}

:focus-visible {
  outline: none !important;
}


.scroll-track {
  display: flex;
  width: max-content;
  animation: marquee 13s linear infinite;
}

.scroll-track span {
  white-space: nowrap;
  padding: 12px 40px;
  color: white;
  font-size: 14px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
